apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: payments
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: payments
          imagePullPolicy: Always
          image: docker.io/seswarrajan/grpc-mesh-demo:client
